/* Shared styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: auto;
    max-width: 1600px;
}

body {
    font-family: "Inter", sans-serif;
    font-family: "Noto Serif", serif;
}

/* Header related styles */
/* 
header {
    margin: 0px 200px;
} */

/* Nav related styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

nav>ul {
    display: flex;
}

.nav-items {
    display: flex;

}

.nav-items li {
    margin-right: 48px;
}

nav li {
    list-style: none;
    color: #8987A1;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

nav a {
    text-decoration: none;
    color: #8987A1;
}

.home>a {
    color: #252432;
    font-weight: 700;

}

li .cart {
    display: flex;
    align-items: center;
    color: #000;
}

.cart>a {
    color: #000;
    margin-left: 10px;
}

/* Banner related styles */

.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 250px;
}

.banner-title {
    color: #000;
    font-family: "Noto Serif";
    font-size: 4rem;
    font-weight: 700;
    max-width: 517px;
}

.banner-title span {
    color: #E95A08;
    font-size: 4rem;
    font-weight: 700;


}

.banner-des {
    color: rgba(0, 0, 0, 0.50);
    font-family: Inter;
    font-size: 1.38rem;
    font-weight: 400;
    max-width: 570px;
    margin-top: 13px;
}

.banner-hero {
    width: 100%;
    display: block;
}

/* Our plants related styles */

.our-plant-content {
    max-width: 850px;
    margin: 0 auto;
    margin-top: 120px;
}

.our-plant-content h2 {
    color: #000;
    font-family: "Noto Serif";
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.our-plant-content h2 span {
    color: #E95A08;
    text-align: center;
    font-family: "Noto Serif";
    font-size: 50px;
    font-weight: 700;
}

.our-plant-content p {
    color: rgba(0, 0, 0, 0.50);
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 50px;
}

.plants-container-1 {
    display: flex;
    justify-content: space-between;
}

.plants-container-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.plants-contents {
    width: 370px;
}

.plants-img {
    width: 100%;
}

.plants-title {
    color: #111;
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.plants-price {
    color: #111;
    font-family: Inter;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.plants-btn {
    width: 100%;
    padding: 16px 0px;
    justify-content: center;
    align-items: center;
    background: #E95A08;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    border: 0;
}



/* Responsive styles */
/* Mobile device */

@media screen and (max-width: 576px) {

    /* navbar related styles */

    nav {
        margin: 25px 16px;
    }

    .nav-items {
        display: none;
    }

    nav .logo {
        max-width: 80px;
        height: auto;
    }

    /* Banner related styles */

    .banner-container {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 0px;
    }

    .banner-content {
        margin: 28px 16px 0px 16px;
    }

    .banner-title {
        font-size: 2rem;
    }

    .banner-title span {
        font-size: 2rem;
    }

    .banner-des {
        font-size: 14px;
        margin-top: 9px;
    }

    .banner-title span {
        font-size: 2rem;
    }

    /* Our plants related styles */

    .our-plant-content {
        max-width: 370px;
        margin: 0 auto;
        margin-top: 65px;
    }

    .our-plant-content h2 {
        font-size: 32px;
    }

    .our-plant-content h2 span {
        font-size: 32px;
    }

    .our-plant-content p {
        font-size: 14px;
        margin-bottom: 28px;
    }

    .plants-main-container{
        display: flex;
        justify-content: space-between;
        margin: 0px 16px;
        
    }

    .plants-container-1 {
        display: flex;
        /* flex: 1; */
        flex-direction: column;
        justify-content: space-between;
    }

    .plants-container-2 {
        display: flex;
        /* flex: 1; */
        flex-direction: column;
        justify-content: space-between;
        margin-top: 0px;
    }

    .plants-contents {
        width: 185px;
    }

    .plants-img {
        width: 100%;
    }

    .plants-title {
        font-size: 16px;
    }

    .plants-price {
        font-size: 16px;
    }

    .plants-btn {
        width: 100%;
        padding: 10px 0px;
    }

}