/* Shared styles */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    font-family: "Noto Serif", serif;
}

/* Header related styles */

header {
    margin: 0px 200px;
}

/* Nav related styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

nav>ul {
    display: flex;
}

.nav-items {
    display: flex;

}

.nav-items li {
    margin-right: 48px;
}

nav li {
    list-style: none;
    color: #8987A1;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

nav a {
    text-decoration: none;
    color: #8987A1;
}

.home>a {
    color: #252432;
    font-weight: 700;

}

li .cart {
    display: flex;
    align-items: center;
    color: #000;
}

.cart>a {
    color: #000;
    margin-left: 10px;
}

/* Banner related styles */

.banner-container {
    display: flex;
    justify-content: space-between;
    margin-top: 250px;
}

.banner-content {
    margin-top: 62px;
}

.banner-title {
    color: #E95A08;
    font-family: "Noto Serif";
    font-size: 4rem;
    font-weight: 700;
}

.banner-title span {
    color: #000;
    font-family: "Noto Serif";
    font-size: 4rem;
    font-weight: 700;
}

.banner-des {
    color: rgba(0, 0, 0, 0.50);
    font-family: Inter;
    font-size: 1.38rem;
    font-weight: 400;
    width: 570px;
    margin-top: 13px;
}








/* Responsive styles */
/* Mobile device */

@media screen and (max-width: 576px) {

    /* navbar related styles */
    header {
        margin: 0px 0px;
    }

    nav {
        margin: 25px 16px;
    }

    .nav-items {
        display: none;
    }

    nav .logo {
        width: 80px;
        height: auto;
    }

    /* Banner related styles */
    .banner-container {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 40px;
    }

    .banner-hero{
        width: 425px;
    }

    .banner-content {
        margin: 28px 16px 0px 16px;
    }

    .banner-des {
        font-size: .875rem;
        width: 380px;
        margin-top: 9px;
    }

    .banner-title {
        font-size: 1.5rem;
    }

    .banner-title span {
        font-size: 1.5rem;
    }

}