/* Shared styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: auto;
    max-width: 1600px;
}

body {
    font-family: "Inter", sans-serif;
    font-family: "Noto Serif", serif;
}

/* Header related styles */
/* 
header {
    margin: 0px 200px;
} */

/* Nav related styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

nav>ul {
    display: flex;
}

.nav-items {
    display: flex;

}

.nav-items li {
    margin-right: 48px;
}

nav li {
    list-style: none;
    color: #8987A1;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

nav a {
    text-decoration: none;
    color: #8987A1;
}

.home>a {
    color: #252432;
    font-weight: 700;

}

li .cart {
    display: flex;
    align-items: center;
    color: #000;
}

.cart>a {
    color: #000;
    margin-left: 10px;
}

/* Banner related styles */

.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 250px;
}

.banner-title {
    color: #000;
    font-family: "Noto Serif";
    font-size: 4rem;
    font-weight: 700;
    max-width: 517px;
}

.banner-title span {
    color: #E95A08;
    font-size: 4rem;
    font-weight: 700;


}

.banner-des {
    color: rgba(0, 0, 0, 0.50);
    font-family: Inter;
    font-size: 1.38rem;
    font-weight: 400;
    max-width: 570px;
    margin-top: 13px;
}

.banner-hero {
    width: 100%;
    display: block;
}

/* Our plants related styles */

.our-plant-content {
    max-width: 850px;
    margin: 0 auto;
    margin-top: 120px;
}

.our-plant-content h2 {
    color: #000;
    font-family: "Noto Serif";
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.our-plant-content h2 span {
    color: #E95A08;
    text-align: center;
    font-family: "Noto Serif";
    font-size: 50px;
    font-weight: 700;
}

.our-plant-content p {
    color: rgba(0, 0, 0, 0.50);
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 50px;
}

.plants-container-1 {
    display: flex;
    justify-content: space-between;
}

.plants-container-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.plants-contents {
    width: 370px;
}

.plants-img {
    width: 100%;
}

.plants-title {
    color: #111;
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.plants-price {
    color: #111;
    font-family: Inter;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.plants-btn {
    width: 100%;
    padding: 16px 0px;
    justify-content: center;
    align-items: center;
    background: #E95A08;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    border: 0;
}

/* Flower & Plants Lover section styles */

.flower-lover-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
    margin-top: 210px;
}

.flower-lover-img1 {
    width: 350px;
    position: absolute;
    left: 560px;
    top: 2350px;
}

.flower-lover-contents {
    max-width: 640px;
}

.flower-lover-contents h1 {
    color: #000;
    font-family: "Noto Serif";
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 22px;
}

.flower-lover-contents p {
    color: rgba(0, 0, 0, 0.50);
    font-family: Inter;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 22px;
}

/* Latest  Deals styles */

.latest-deals-content {
    max-width: 850px;
    margin: 0 auto;
    margin-top: 130px;
}

.latest-deals-content h2 {
    color: #000;
    font-family: "Noto Serif";
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.latest-deals-content h2 span {
    color: #E95A08;
    text-align: center;
    font-family: "Noto Serif";
    font-size: 50px;
    font-weight: 700;
}

.latest-deals-content p {
    color: rgba(0, 0, 0, 0.50);
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 50px;
}

.latest-deals-img-container {
    display: flex;
    margin-top: 70px;
}

.img-1 {
    background-image: url(../assets/deal-bloom.png);
    background-repeat: no-repeat;
    width: 524px;
    height: 282px;
    border-radius: 10px;
    background-size: cover;
    position: relative;

}

.img-1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    /* dark overlay */
    border-radius: 10px;
    z-index: 0;
}

.img-1 h5 {
    color: #FFF;
    text-align: center;
    font-family: "Noto Serif";
    font-size: 20px;
    font-weight: 700;
    padding-top: 110px;
    z-index: 1;
    position: relative;
}

.img-1 p {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration-line: underline;
    padding-top: 20px;
    z-index: 1;
    position: relative;
}

.img-2 {
    background-image: url(../assets/deal-ana.png);
    background-repeat: no-repeat;
    width: 524px;
    height: 282px;
    border-radius: 10px;
    background-size: cover;
    margin-top: 30px;
    position: relative;
}

.img-2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    /* dark overlay */
    border-radius: 10px;
    z-index: 0;
}

.img-2 h5 {
    color: #FFF;
    text-align: center;
    font-family: "Noto Serif";
    font-size: 20px;
    font-weight: 700;
    padding-top: 110px;
    z-index: 1;
    position: relative;
}

.img-2 p {
    color: #FFF;
    font-family: Inter;
    font-weight: 600;
    text-decoration-line: underline;
    text-align: center;
    padding-top: 20px;
    z-index: 1;
    position: relative;
}

.img-container-right-container {
    background-image: url(../assets/deal-zabo.png);
    background-repeat: no-repeat;
    width: 1046px;
    height: 593px;
    border-radius: 20px;
    background-size: cover;
    margin-left: 30px;
    position: relative;
}

.img-container-right-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    /* dark overlay */
    border-radius: 20px;
    z-index: 0;
}

.img-container-right-container h3 {
    color: #FFF;
    text-align: center;
    font-family: "Noto Serif";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 250px;
    z-index: 0;
    position: relative;
}

.img-container-right-container h6 {
    color: #FFF;
    font-family: Inter;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    text-decoration-line: underline;
    padding-top: 20px;
    z-index: 1;
    position: relative;
}

/* Subscribe section styles */

.subscribe-container {
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 710px;
    margin-top: 120px;
}

.subscribe-content {
    padding-top: 280px;
}

.subscribe-content h1 {
    color: #FFF;
    text-align: center;
    font-family: "Noto Serif";
    font-size: 60px;
    font-weight: 700;
}

.btn-container {
    width: 830px;
    margin: 0 auto;
    padding-top: 25px;
}

.email-area {
    width: 644px;
    height: 50px;
    padding: 8px 20px;
    align-items: center;
    color: rgba(0, 0, 0, 0.50);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    border: 0;
}

.subs-btn {
    width: 186px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background: #E95A08;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    border: none;
    position: absolute;
}

/* Responsive styles */
/* Mobile device */

@media screen and (max-width: 576px) {

    /* navbar related styles */

    nav {
        margin: 25px 16px;
    }

    .nav-items {
        display: none;
    }

    nav .logo {
        max-width: 80px;
        height: auto;
    }

    /* Banner related styles */

    .banner-container {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 0px;
    }

    .banner-content {
        margin: 28px 16px 0px 16px;
    }

    .banner-title {
        font-size: 2rem;
    }

    .banner-title span {
        font-size: 2rem;
    }

    .banner-des {
        font-size: 14px;
        margin-top: 9px;
    }

    .banner-title span {
        font-size: 2rem;
    }

    /* Our plants related styles */

    .our-plant-content {
        max-width: 370px;
        margin: 0 auto;
        margin-top: 65px;
    }

    .our-plant-content h2 {
        font-size: 32px;
    }

    .our-plant-content h2 span {
        font-size: 32px;
    }

    .our-plant-content p {
        font-size: 14px;
        margin-bottom: 28px;
    }

    .plants-main-container {
        display: flex;
        justify-content: space-between;
        margin: 0px 16px;

    }

    .plants-container-1 {
        display: flex;
        /* flex: 1; */
        flex-direction: column;
        justify-content: space-between;
    }

    .plants-container-2 {
        display: flex;
        /* flex: 1; */
        flex-direction: column;
        justify-content: space-between;
        margin-top: 0px;
    }

    .plants-contents {
        width: 185px;
    }

    .plants-img {
        width: 100%;
    }

    .plants-title {
        font-size: 16px;
    }

    .plants-price {
        font-size: 16px;
    }

    .plants-btn {
        width: 100%;
        padding: 10px 0px;
    }

    /* Flower & Plants Lover section styles */

    .flower-lover-container {
        display: block;
        margin: 0px 17px;
        margin-top: 42px;
    }

    .flower-lover-img1 {
        display: none;
    }

    .flower-lover-img2 {
        width: 100%;
    }

    .flower-lover-contents h1 {
        font-size: 24px;
        margin-bottom: 16px;
        margin-top: 18px;
    }

    .flower-lover-contents p {
        font-size: 14px;
        margin-bottom: 16px;
    }

    /* Latest  Deals styles */

    .latest-deals-content {
        max-width: 370px;
        margin: 0 auto;
        margin-top: 65px;
    }

    .latest-deals-content h2 {
        font-size: 32px;
    }

    .latest-deals-content h2 span {
        font-size: 32px;
    }

    .latest-deals-content p {
        font-size: 14px;
        margin-bottom: 28px;
    }

    .latest-deals-img-container {
        display: block;
        margin-top: 40px;
        margin-left: 16px;
    }

    .img-1 {
        width: 390px;
        height: 206px;
    }

    .img-1 h5 {
        padding-top: 75px;
    }

    .img-1 p {
        padding-top: 10px;
    }

    .img-2 {
        width: 390px;
        height: 206px;
    }

    .img-2 h5 {
        padding-top: 75px;
    }

    .img-2 p {
        padding-top: 10px;
    }

    .img-container-right-container {
        width: 390px;
        height: 206px;
        margin-left: 0px;
        margin-top: 30px;
    }

    .img-container-right-container h3 {
        font-size: 20px;
        padding-top: 0px;
        padding-top: 75px;
    }

    .img-container-right-container h6 {
        font-size: 16px;
        padding-top: 0px;
        padding-top: 10px;
    }

    /* Subscribe section styles */

    .subscribe-container {
        height: 275px;
        margin-top: 45px;
    }

    .subscribe-content {
        padding-top: 90px;
    }

    .subscribe-content h1 {
        font-size: 20px;

    }

    .btn-container {
        width: 315px;
        padding-top: 20px;
    }

    .email-area {
        width: 212px;
    }

    .subs-btn {
        width: 103px;
    }

}